.item {
	display: flex;
	position: relative;
	align-items: center;
	margin-bottom: 5px;
	font-size: 0.8em;
	font-weight: 400;

	&:hover {
		.remove, .edit {
			opacity: 0.2;

			&:hover {
				opacity: 1;
			}
		}
	}

	&.date {
		padding-bottom: 15px;
	}

	&.completed {
		order: 2;
		opacity: 0.5;
	}
}

.due {
	position: absolute;
	right: 10px;
	bottom: 0;
	opacity: 0.8;
	font-size: 0.7em;
	font-weight: 400;
}

.button {
	position: absolute;
	opacity: 0;
}

.remove {
	composes: button;
	right: 0;
}

.edit {
	composes: button;
	right: 50px;
}

.modal {
	composes: modal from '../../../src/scss/modal.scss';
}

.close {
	composes: close from '../../../src/scss/modal.scss';
}
